/*Selector de etiqueta*/
h1 {
    color:red;
}
h2 {
    color:blue;
}
/*Selector de clase*/
.oscuro {
    background-color: black;
    color:white;
}
/*Selector ID*/
#p1 {
color: green;
}