body{
    background-color: rgb(192, 188, 188);
    font-family: Segoe 'Segoe UI', sans-serif;
}

header,footer {
   background-color: rgb(168, 109, 160);
   color: white;
   text-align: center;
   padding: 0.5rem;
}
nav {
    background-color: rgb(138, 54, 127);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
nav a {
    text-decoration: none;
    color:rgb(180, 116, 175);
    font-weight: bold;
}
main {
    padding: 2rem;
    display: flex;
    gap: 2rem;
}
strong {
    color: rgb(179, 105, 157);
}
blockquote{
    font-style: italic;
    color: rgb(126, 64, 105)
}
article {
background-color: white;
padding: 1rem;
border-radius: 10px;
margin-bottom: 1rem;
}
aside {
background-color: beige;
padding: 1rem;
border-left: 4px beige;
}
th {
    background-color: rgb(223, 158, 201);
}
th, td {
    border: 1px pink;
    padding: 0.5rem;
}
table {
    width: 100%
    border-collapse:collapse;
}
img {
max-width: 100%;
margin-top: 1rem;
border: 4px solid #9e6590
border-radius: 8px
}
footer a{
    color:beige
    text-decoration:antiquewhite
}